:root {
    --brand-color-1: #0D1116;
	--brand-color-2: #F6F8FA;
	--brand-color-3: #FFFFFF;
	--brand-color-4: #7DE686;
}

body {
    margin: 0;
    padding: auto;
    font-family: 'Inter', sans-serif;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bg-theme-color-1 {
    background-color: var(--brand-color-1);
}

.bg-theme-color-2 {
	background-color: var(--brand-color-2);
}

.bg-theme-color-3 {
	background-color: var(--brand-color-3);
}

.bg-theme-color-4 {
	background-color: var(--brand-color-4);
}

.text-color-1 {
	color: var(--brand-color-4);
}

.text-color-2 {
	color: var(--brand-color-2);
}

.title-text {
	font-size: 90px;
	font-weight: 800;
	line-height: 100px;
}

.title-component {
    height: auto;
}

.brand-name {
    font-size: 100px;
    line-height: 100px;
}

.navbar-brand-text {
	font-weight: 700;
	color: var(--brand-color-4);
}

.brand-logo {
    width: auto;
    height: auto;
}

.input-width {
	width: 250px;
	margin: auto;
}

.form-width {
	width: 320px;
	margin: auto;
}

.btn-get-started {
    visibility: hidden;
}

.row-height {
    height: 100vh;
}

.border-squircle {
	background-color: var(--brand-color-2);
    width: 250px;
    padding: 5px 10px 5px 10px;
}

.active {
	color: var(--brand-color-4) !important;
}

.home-heading-style {
	font-size: 50px;
}

.entrance-text {
    animation: entrance 1s ease-in-out;
}

.entrance-text-2 {
    animation: typing 1s steps(30, end);
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow-wrap: break-word;
}

@keyframes entrance {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .brand-name {
        font-size: 70px;
        line-height: 70px;
    }

    .btn-get-started {
        visibility: visible;
    }

	.title-text {
		font-size: 60px;
		line-height: 70px;
	}
}
