:root {
	--brand-color-1: #98E000;
}

body {
	margin: 0;
	padding: auto;
	font-family: 'Inter', sans-serif;
}

.bg-theme-color-1 {
	background-color: #98E000;
}

.title-component {
	height: 660px;
}

@media (max-width: 768px) {
	.title-component {
		height: 300px;
	}
}